<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="card">
      <ngx-spinner type="square-jelly-box" [fullScreen]="false" size="small" bdColor = "rgba(0, 0, 0, 0.8)" color = "#fff"></ngx-spinner>
      <div class="card-header">
        <a href="javascript:void(0)" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#create-modal"><i class="fas fa-plus"></i></a>
      </div>
      <div class="card-body">
        <div class="card collapsed-card" *ngFor="let user of users">
        <div class="card-header">
          <h3 class="card-title">{{user.username}}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer" appDelete [id]="user.id" controller="users">
          <a href="javascript:void(0)" style="float: left;" class="btn btn-outline-success" data-toggle="modal" data-target="#edit-modal"><i class="fas fa-edit"></i></a>
          <app-modal
            title="Edit user"
            modal_id="edit-modal"
            size="lg"
            [data]="[
              {name: 'id', value: user.id, type: 'hidden'},
              {col_size: 6, placeholder: 'First Name', name: 'firstName', value: user.firstName},
              {col_size: 6, placeholder: 'Last Name', name: 'lastName', value: user.lastName},
              {col_size: 6, placeholder: 'Email', icon: 'fas fa-envelope', name: 'email', type: 'email', value: user.email},
              {col_size: 6, placeholder: 'Username', icon: 'fas fa-user', name: 'username', value: user.username},
              {col_size: 6, placeholder: 'Password', icon: 'fas fa-lock', name: 'password', type: 'password'},
              {col_size: 6, placeholder: 'Confirm Password', icon: 'fas fa-lock', name: 'confirmPassword', type: 'password'}
             ]"
            [model]="editUser"
            method="PUT"
            controller="users"
          ></app-modal>
        </div>
        <!-- /.card-footer-->
      </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<app-modal
title="Create user"
modal_id="create-modal"
size="lg"
[data]="[
      {col_size: 6, placeholder: 'First Name', name: 'firstName'},
      {col_size: 6, placeholder: 'Last Name', name: 'lastName'},
      {col_size: 6, placeholder: 'Email', icon: 'fas fa-envelope', name: 'email', type: 'email'},
      {col_size: 6, placeholder: 'Username', icon: 'fas fa-user', name: 'username'},
      {col_size: 6, placeholder: 'Password', icon: 'fas fa-lock', name: 'password', type: 'password'},
      {col_size: 6, placeholder: 'Confirm Password', icon: 'fas fa-lock', name: 'confirmPassword', type: 'password'}
     ]"
[model]="createUser"
controller="users"
[ignore]="['confirmPassword']"
></app-modal>
